abstract-rendering==0.5.1
alabaster==0.7.6
aniso8601==1.1.0
appnope==0.1.0
appscript==1.0.1
argcomplete==0.8.9
astropy==1.0.3
attrs==16.0.0
Babel==2.1.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
bcolz==0.9.0
beautifulsoup4==4.3.2
binstar==0.11.0
bitarray==0.8.1
blaze==0.8.0
blz==0.6.2
bokeh==0.10.0
boto==2.38.0
Bottleneck==1.0.0
breadability==0.1.20
cdecimal==2.3
certifi==14.5.14
cffi==1.1.0
chardet==2.3.0
clyent==0.3.4
colorama==0.3.3
conda==4.0.8
conda-build==1.14.1
conda-env==2.4.5
configobj==5.0.6
coverage==4.0.1
cryptography==0.9.1
cssselect==0.9.1
cycler==0.10.0
Cython==0.23.4
cytoolz==0.7.3
datashape==0.4.5
deap==1.1.0
decorator==4.0.9
dill==0.2.5.dev0
docopt==0.6.2
docutils==0.12
dryscrape==1.0
easygui==0.98.0
enum34==1.1.2
fastcache==1.0.2
Flask==0.10.1
Flask-RESTful==0.3.4
funcsigs==0.4
gevent==1.0.1
gevent-websocket==0.9.3
gplearn==0.1.0
graphviz==0.4.8
greenlet==0.4.7
grin==1.2.1
h5py==2.5.0
idna==2.0
ipaddress==1.0.7
ipykernel==4.3.1
ipython==4.1.2
IPython-Dashboard==0.1.5
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
joblib==0.9.4
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.2.1
jupyter-console==4.1.0
jupyter-core==4.1.0
Keras==1.0.2
lda==1.0.3
llvmlite==0.8.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.5.1
minepy==1.0.0
mistune==0.7.1
mock==1.0.1
mpld3==0.2
multipledispatch==0.4.7
multiprocess==0.70.3
mysql-connector-python==2.0.3
MySQL-python==1.2.5
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.9.1
nltk==3.0.3
nose==1.3.7
notebook==4.2.0
numba==0.23.1
numexpr==2.4.3
numpy==1.11.0
odo==0.3.2
openpyxl==1.8.5
Orange==2.7.8
pandas==0.18.1
parsel==1.0.2
path.py==0.0.0
pathos==0.2a1.dev0
patsy==0.3.0
pbr==1.8.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
Pillow==2.8.2
ply==3.6
pox==0.2.2
ppft==1.6.4.5
protobuf==3.0.0b2
psutil==3.3.0
ptyprocess==0.5
py==1.4.27
pyasn1==0.1.7
pyasn1-modules==0.0.8
PyAudio==0.2.7
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
PyDispatcher==2.0.5
pyflakes==1.0.0
Pygments==2.1.1
pymc==2.3.4
PyMySQL==0.6.7
pyOpenSSL==0.15.1
pyparsing==2.1.5
pyswarm==0.6
pytest==2.7.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
quantiacsToolbox==2.2.5
queuelib==1.4.2
redis==2.10.3
requests==2.9.1
rope==0.9.4
runipy==0.1.3
scikit-fuzzy==0.2.dev0
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==0.17.1
Scrapy==1.1.0
seaborn==0.7.0
selenium==2.53.5
seq2seq==0.0.2
service-identity==16.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
skflow==0.1.0
sklearn==0.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.9
SQLAlchemy==1.0.5
sqlparse==0.1.17
statsmodels==0.6.1
sumy==0.4.1
sympy==0.7.6
tables==3.2.0
tensorflow==0.8.0rc0
terminado==0.5
Theano==0.8.2
toolz==0.7.2
tornado==4.3
TPOT==0.4
tqdm==4.7.6
traitlets==4.1.0
Twisted==16.2.0
ujson==1.33
unicodecsv==0.9.4
update-checker==0.11
virtualenv==15.0.2
w3lib==1.14.2
webkit-server==1.0
Werkzeug==0.11.2
xgboost==0.4a30
xlrd==0.9.3
XlsxWriter==0.7.3
xlwings==0.3.5
xlwt==1.0.0
xvfbwrapper==0.2.8
zope.interface==4.1.3
